#main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(221, 221, 255);
}

#image {
    height: 200px;
    /* width: 100%; */
}

#image img {
    height: 180px;
    width: 180px;
}

#caption {
    color: white;
    text-shadow: 1px 1px 1px grey;
    font-family: cursive;
}

#inputs_inside {
    display: flex;
    flex-direction: row;
}

#inputs_inside input {
    border-radius: 5px;
    width: 250px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid transparent;
    outline: none;
    height: 38px;
    text-align: center;
}

#inputs_inside button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid transparent;
}

#submit {
    width: 40px;
    background-color: #edebeb;
}

#submit:hover {
    background-color: rgb(202, 199, 199);
}

#submit .fa {
    transition: all 0.2s;
}

#submit:hover .fa-plus {
    transform: rotate(90deg);
}

#todolist {
    display: flex;
    flex-direction: row;
    background-color: blue;
    margin-top: 30px;
    width: 290px;
    border-radius: 5px;
    align-items: center;
    word-break: break-all;
    overflow: hidden;
    height: max-content;
    transition: all 0.2s;
}

#todolist:hover {
    background-color: rgb(203, 203, 241);
}

#todolist:hover #edit {
    color: green;
}

#todolist #edit {
    transition: all 0.2s;
}

#todolist #edit:active {
    transform: scale(1.5);
}

#todolist:hover #trash {
    color: red;
}

#todo_name {
    width: 90%;
    margin-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    height: max-content;
    padding: 15px 5px;
}

#trash {
    margin-left: 5px;
    margin-right: 10px;
}

#edit {
    margin-right: 8px;
}

.remove_btn {
    margin-top: 30px;
    height: 45px;
    width: 200px;
}

#removeAll {
    position: relative;
    transition: All 0.2s;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#removeAll:hover::before {
    content: attr(data-sm-link-text);
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    top: 0px;
    left: 0px;
    /* left: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}